@model BloodLife.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<html>
<head>
    <title>BloodLife</title>
    <link href="/CSS/admin_stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <style>
        .AdminLogin {
            margin: 7% 30%;
            padding: 6% 10%;
            background: rgb(236, 233, 233);
        }

        .dashinp {
            margin-bottom: 10px;
        }

        .SignIn {
            text-align: center;
            padding: 5PX 30PX;
            background-color: rgb(30, 95, 209);
            color: #FFF;
            margin: 10% 0 10% 30%;
        }

        .forgot {
            margin-top: 8%;
            font-size: 14px;
        }
    </style>

    <div class="AdminLogin">
        @using (Html.BeginForm("Index", "Admin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h1 style="text-align: center; margin-bottom: 20px">Admin Login</h1>
            <div class="loginDetail">

                @Html.TextBoxFor(m => m.UserEmailId, new { @class = "dashinp", @placeholder = "Username" })
                @Html.ValidationMessageFor(m => m.UserEmailId)

                @Html.PasswordFor(m => m.Password, new { @type = "password", @class = "dashinp", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)

                <label style="display: none;">@Html.RadioButton("UserType", 1, new { @checked = "checked", }) Admin</label>
                <div class="forgot clearfix" style="display: none;">

                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "csscheck" })
                    <label for="RememberMe" class="csslabel fl">Keep Me Signed In</label>
                    <a class="fgt fr" href="/Account/ForgotPassword">Forgot Password?</a>
                </div>
                <div class="forgot clearfix">
                    <input type="checkbox" name="RememberMe1" class="csscheck" id="c1" checked>
                    <label for="c1" class="csslabel">Remember me</label>
                    <a href="/Account/ForgotPassword" class="fgt fr">Forgot Password?</a>
                </div>

                <input type="submit" value="Sign In" class="SignIn">
            </div>
        }
    </div>

    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</body>
</html>
